use flake
#export GTK_DEBUG=interactive
export CGO_ENABLED=1
export GOOSE_DRIVER=sqlite3
export GOOSE_DBSTRING=~/.config/jts/jts.db
export GOOSE_MIGRATION_DIR=./database/migrations
export JTS_SERVER_TOKEN=jts_server_token_Py8Yrfr264HDpOe5JQxfk0ik5rcxO+vo6iL7YX91xv6laOgg2fVp1ms9iNMiJ1bneInEfbOQdmKawgF367jRPA==
